
@{
    ViewBag.Title = "AboutUs";
}
<style>
    body {
        background-color: #FFDB58;
    }
</style>
<div class="about">
    <h3>Hakkımızda</h3>
    <p>
        2017 Brand Z Raporu’na göre dünyanın en değerli sekizinci markası olan
        McDonald’s olarak, dünyanın dört bir yanında yer alan 34 bini aşkın restoran
        ve 1,6 milyonu geçen çalışanımızla, günde ortalama
        58 milyon müşterimizi mutlu edebilmek için çalışıyoruz. Türkiye'de de McDonald’s, bugün yaklaşık 260 restoranı ve
        6000 civarında çalışanı ile yılda 100 milyon kişiye hizmet vermektedir.
    </p>

</div>
<div class="gecmis">
    <h2>1940</h2>
    <p>
        Dick ve Mac McDonald tarafından Kaliforniya San Bernadino’da açılan “McDonald’s Bar-B-Q”, geleneksel “arabaya servis” konseptine sahipti.
    </p>
    <h2>1948</h2>
    <p>
        Geniş bir yiyecek menüsüne sahip “McDonald’s Bar-B-Q” projesi sonlandırılırken, hamburger, cheese burger, meşrubat, süt, kahve, patates cipsi ve dilim turtadan oluşan daraltılmış bir menü ile “arabaya servis” konseptine yeni restoranında devam etti.
    </p>
    <h2>1949</h2>
    <p>
        McDonald’s’ın geleneksel patates kızartması, patates cipsi yerine menüye dahil edildi.
    </p>
    <h2>1954</h2>
    <p>

        Ray Kroc, McDonald kardeşlere daha fazla Milkshake karıştırıcısı satmak için restoranı ziyaret ediyor ve kurulan sisteme hayran kalarak McDonald's'ın ABD'deki milli bayilik aracısı olmaya karar verdi.
    </p>
    <h2>1955</h2>
    <p>
        Ray Kroc Ilinois, Des Plaines'de ilk McDonald's restoranını açtı ve hızlı bir şekilde büyümeye başlayarak, iki yıl içinde 40 restorana ulaştı. McDonald's’ın ilk işletmecileri Art ve Bernice Bender, ilk işletmeci restoranını Kalifornia, Fresno'da açtı.
    </p>
    <h2>1959</h2>
    <p>
        100. Restoran açıldı. Bir yılda 66 restoran açılışı ile rekor kırıldı.
    </p>
    <h2>1960</h2>
    <p>
        Kuruluşunun 5. yılında Tennessee, Knoxville'de 200. restoran açıldı Bu esnada Lillian McMahon, McDonald's'ın ilk kadın işletmecisi olarak Michigan'da restoran açtı.
    </p>
    <h2>1961</h2>
    <p>
        Ray Kroc, McDonald’s Restoran Konsepti’ni 2,7 milyon dolara McDonald Kardeşler’den satın aldı. Aynı yıl Hamburger Üniversitesi eğitim hayatına başladı.
    </p>
</div>
