
@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-color: #FFDB58;
    }
</style>
<form class="iletisim">
    <div class="isim">
        <label>İsim Soyisim:</label>
        <input type="text" placeholder="İsim Soyisim:" />
    </div>
    <div class="tel">
        <label>Telefon No:</label>
        <input type="tel" placeholder="Telefon No:" />
    </div>
    <div class="mail">
        <label>Mail:</label>
        <input type="email" placeholder="Mail Adresiniz:" />
    </div>
    <div class="textare">
        <label>Görüş Belirtin:</label>
        <textarea placeholder="Görüş Belirtin:"></textarea>
    </div>
    <div class="buton">
        <input type="submit" value="Gönder" />

    </div>

</form>
<div class="resim">
    <img src="~/img/Mcdonalds-Logo-PNG-Picture.png" />
</div>

