
@{
    ViewBag.Title = "Index";
}
<div class="slider">
    <div class="sliderimg">
        <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 56px;">
            <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                <ul class="amazingslider-slides" style="display:none;">
                    <li>
                        <img src="images/1597325985683_1125x522.jpeg" alt="1597325985683_1125x522" title="1597325985683_1125x522" />
                    </li>
                    <li>
                        <img src="images/mcd-new-2.jpg" alt="mcd-new-2" title="mcd-new-2" />
                    </li>
                </ul>
                <ul class="amazingslider-thumbnails" style="display:none;">
                    <li><img src="images/1597325985683_1125x522-tn.jpeg" alt="1597325985683_1125x522" title="1597325985683_1125x522" /></li>
                    <li><img src="images/mcd-new-2-tn.jpg" alt="mcd-new-2" title="mcd-new-2" /></li>
                </ul>
                <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Slider jQuery">Slider jQuery</a></div>
            </div>
        </div>
    </div>
</div>
<div class="giris">
    <div class="menu">
        <h3>Hamburgerler</h3>
        <div class="menu1">
            <img src="img/indir.jpg" />
            <h4>BigMac</h4>
            <p>İçindekiler: Çift Köfte, Turşu, Soğan, Marul</p>
            <input &nbsp type="submit" value="Sipariş Ver" />
        </div>
        <div class="menu2">
            <img src="img/9993225011250.jpg" />
            <h4>McChicken</h4>
            <p>İçindekiler: Çıtır Tavuk, Turşu, Soğan, Marul</p>
            <input type="submit" value="Sipariş Ver" />
        </div>
        <div class="menu3">
            <img src="img/1_mcdonalds-Cheeseburger.jpg" />
            <h4>Cheeseburger</h4>
            <p>İçindekiler: Köfte, Cheddar Peyniri, Turşu, Soğan, Marul</p>
            <input type="submit" value="Sipariş Ver" />
        </div>
    </div>
    <div class="menuismi"><h3>İçecekler</h3></div>
    <div class="icecekler">
        <div class="icecek1">
            <img src="img/4ec770fa-d2c0-473a-aec7-6816e10d86e2-cocacola.png" />
            <h4>Kola</h4>
            <p>Sınırsız İçecek Kampanyasıyla</p>
            <input &nbsp type="submit" value="Sipariş Ver" />
        </div>
        <div class="icecek2">
            <img src="img/mcdonalds-Fanta-Orange-Medium-2_1-3-product-tile-desktop.jpg" />
            <h4>Fanta</h4>
            <p>Sınırsız İçecek Kampanyasıyla</p>
            <input &nbsp type="submit" value="Sipariş Ver" />
        </div>
        <div class="icecek3">
            <img src="img/Header_MediumSprite_Glass_832x472_1-3-product-tile-desktop.jpg" />
            <h4>Sprite</h4>
            <p>Sınırsız İçecek Kampanyasıyla</p>
            <input &nbsp type="submit" value="Sipariş Ver" />
        </div>
    </div>
</div>

